<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
        bootstrap="vendor/autoload.php"
        beStrictAboutTodoAnnotatedTests="true"
        beStrictAboutOutputDuringTests="true"
        beStrictAboutCoversAnnotation="true"
        testdox="true"
        cacheResultFile="./test/.phpunit.result.cache"
>
    <logging>
        <testdoxHtml outputFile="test/test-dox.html"/>
    </logging>

    <php>
        <env name="APP_ENV" value="test"/>
    </php>
</phpunit>
