<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="css/milligram.css">
</head>
<body>
<header class="heading managing">
    <section class="container">
        <a href="/"><img src="/assets/logo-84d7d70645fbe179ce04c983a5fae1e6cba523d7cd28e0cd49a04707ccbef56e.png"></a>
        <span class="exercise-label">New exercise</span>
    </section>
</header>
<main class="container">
    <title>ExerciseLooper</title>
    <h1>New Exercise</h1>
    <form action="/exercises" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓">
        <input type="hidden" name="authenticity_token"
               value="ixOUVJpD0usyRJ20chZggMb0GUfmUC90V511XJy6PWDMCoG7/1q5AtKEyfQow3F+qaq8GZQ1r3OApGhAequWyQ==">
        <div class="field">
            <label for="exercise_title">Title</label>
            <input type="text" name="exercise[title]" id="exercise_title">
        </div>
        <div class="actions">
            <input type="submit" name="commit" value="Create Exercise" data-disable-with="Create Exercise">
        </div>
    </form>
</main>
</body>
</html>