<html>
<head>
    <title>ExerciseLooper</title>
    <link rel="stylesheet" href="css/milligram.css">
</head>
<body>
<header class="dashboard">
    <section class="container">
        <p><img src="/assets/logo-84d7d70645fbe179ce04c983a5fae1e6cba523d7cd28e0cd49a04707ccbef56e.png"></p>
        <h1>Exercise<br>Looper</h1>
    </section>
</header>
<div class="container dashboard">
    <section class="row">
        <div class="column">
            <a class="button answering column" href="/exercises/answering">Take an exercise</a>
        </div>
        <div class="column">
            <a class="button managing column" href="/exercises/new">Create an exercise</a>
        </div>
        <div class="column">
            <a class="button results column" href="/exercises">Manage an exercise</a>
        </div>
    </section>
</div>
</body>
</html>