<html>
<head>
    <link rel="stylesheet" href="css/milligram.css">
</head>
<body>
<header class="heading results">
    <section class="container">
        <a href="/"><img src="/assets/logo-84d7d70645fbe179ce04c983a5fae1e6cba523d7cd28e0cd49a04707ccbef56e.png"></a>

    </section>
</header>

<main class="container">
    <title>ExerciseLooper</title>
    <div class="row">
        <section class="column">
            <h1>Building</h1>
            <table class="records">
                <thead>
                <tr>
                    <th>Title</th>
                    <th></th>

                </tr>
                </thead>

                <tbody>
                <tr>
                    <td>dsvsg</td>
                    <td>
                        <a title="Manage fields" href="/exercises/367/fields"><i class="fa fa-edit"></i></a>
                        <a data-confirm="Are you sure?" title="Destroy" rel="nofollow" data-method="delete"
                           href="/exercises/367"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </section>
        <section class="column">
            <h1>Answering</h1>
            <table class="records">
                <thead>
                <tr>
                    <th>Title</th>
                    <th></th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td>0 ou 1</td>
                    <td>
                        <a title="Show results" href="/exercises/343/results"><i class="fa fa-chart-bar"></i></a>
                        <a title="Close" rel="nofollow" data-method="put"
                           href="/exercises/343?exercise%5Bstatus%5D=closed"><i class="fa fa-minus-circle"></i></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </section>

        <section class="column">
            <h1>Closed</h1>
            <table class="records">
                <thead>
                <tr>
                    <th>Title</th>
                    <th></th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td>dadasdd</td>
                    <td>
                        <a title="Show results" href="/exercises/156/results"><i class="fa fa-chart-bar"></i></a>
                        <a data-confirm="Are you sure?" title="Destroy" rel="nofollow" data-method="delete"
                           href="/exercises/156"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </section>
    </div>
</body>
</html>