<html>
<head>
    <link rel="stylesheet" href="css/milligram.css">
</head>
<body>
<header class="heading answering">
    <section class="container">
        <a href="/"><img src="/assets/logo-84d7d70645fbe179ce04c983a5fae1e6cba523d7cd28e0cd49a04707ccbef56e.png"></a>
        <span class="exercise-label">Exercise: <span class="exercise-title">tests9067965</span></span>
    </section>
</header>
<main class="container">
    <title>ExerciseLooper</title>
    <h1>Your take</h1>
    <p>If you'd like to come back later to finish, simply submit it with blanks</p>
    <form action="/exercises/383/fulfillments" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓">
        <input
            type="hidden" name="authenticity_token"
            value="HQeix+wNFzQrxp5XP6fRVFLydDerA33KP6QAPfOJj8haHrcoiRR83csGyhdlcsCqPazRadlm/c3onR0hFZgkYQ==">
        <input type="hidden" value="598" name="fulfillment[answers_attributes][][field_id]"
               id="fulfillment_answers_attributes__field_id">
        <div class="field">
            <label for="fulfillment_answers_attributes__value">7549zt</label>
            <input type="text" name="fulfillment[answers_attributes][][value]"
                   id="fulfillment_answers_attributes__value">
        </div>
        <input type="hidden" value="597" name="fulfillment[answers_attributes][][field_id]"
               id="fulfillment_answers_attributes__field_id">
        <div class="field">
            <label for="fulfillment_answers_attributes__value">jhduui889</label>
            <input type="text" name="fulfillment[answers_attributes][][value]"
                   id="fulfillment_answers_attributes__value">
        </div>
        <div class="actions">
            <input type="submit" name="commit" value="Save" data-disable-with="Save">
        </div>
    </form>
</main>
</body>
</html>